// _variables.css

/* Colors */
$primary-color-1:   #00BAFF; // blue
$secondary-color-1: #34352E; // grey

$primary-color-2:   #E79580; // orange
$secondary-color-2: #595B70; // purple

/* Sizing */
$font-size: 19px;